.button {
margin-top: 20px;
border-radius: 5px;
border: none;
padding: 10px 12px;
font-size: 16px;
cursor: pointer;
color: white;
display: inline-block;
text-decoration: none;
}

.button1 {
background-color: #04AA6D;
}
.button1:hover {
background-color: #028a59;
}

.button2 {
background-color: #02394b;
color: #ddd;
}
.button2:hover {
background-color: #4d48b6;
}

.button3 {
background-color: #f44336;
}
.button3:hover {
background-color: #2c0313;
}

.button4 {
background-color: #e7e7e7;
color: black;
}
.button4:hover {
color: #1107d5;
font-size: larger;
}

.button5 {
background-color: #555555;
color: white;
}
.button5:hover {
background-color: #028a59;
color: #2c0313;
}
